/* #root {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  /* padding: 2rem;  */
  /* text-align: center;
} */ */

.Everything {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  padding: 2em;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}

.ImageLynn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 100%;
  height: auto; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  /* text-align: center;
  margin: 0% 50% 0% 50%;
  width: 120%; 
  max-width: fit-content;
  margin-inline: auto; */
}

.AboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.WorkPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.Picture img {
 width: 500px;
 height: 1000px;
}

.HobbiesPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 100px;
}

.footer {
  display: flex;
  justify-content: space-around; /* This distributes space evenly around the items */
  align-items: center; /* This centers the items vertically within the footer */
  padding: 10px;
  background-color: hotpink;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-item {
 margin: 0 10px; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
